# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data
data/
!data/raw/
!data/processed/
# Ideally ignore large data, but keep structure if empty?
# Since we have data/raw/creditcard.csv (150MB), we should definitely ignore it.
data/raw/*.csv
data/processed/*.csv
*.csv

# Models
# models/*.pkl
# Allow committing models as they are < 100MB and needed for deployment without retraining
!models/random_forest_model.pkl
!models/scaler.pkl
# Ignore large models

# Logs
*.log
